html,

.jumbotron {
    background-image: url("/plotlydiploy/images/Vegan-Burger-And-Meat.jpeg");
    background-color: white;
    background-size: 80% 80%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

h1 {font-family: "Permanent Marker", cursive}

.well {
    background-color: white;
}

.panel-body {
    background-color: white;

}

.border {
    background-image: url("/plotlydiploy/images/wimpy_burger.png");
    background-size: 30%,30%;
    background-repeat: space;
}