html,

.jumbotron {
    background-image: url("/plotlydiploy/images/Vegan-Burger-And-Meat.jpeg");
    background-size: 100% 100%;
    text-align: center;
    font-family: "Belleza";
}


.well {
    background-color: white;
}

.panel-body {
    background-color: white;

}