html,

.jumbotron {
    background-image: url("/plotlydiploy/images/Vegan-Burger-And-Meat.jpeg");
    background-size: 80% 80%;
    text-align: center;
    font-family: 'Roboto', san-serif;
}


.well {
    background-color: white;
}

.panel-body {
    background-color: white;

}